html, body, ul, li {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

a, abbr, body, cite, dd, dl, dt, h1, h2, h3, h4, h5, h6, iframe, input, li, object, ol, option, p, pre, select, span, ul {
    font-family: 'Microsoft YaHei','Hiragino Sans GB','SF Pro Display',Roboto,Noto,Arial,'PingFang SC',sans-serif!important;
}

div {
    -webkit-overflow-scrolling : touch 
}

* {
    color: #3B426B;
    font-weight: 500;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}